<p>students works!</p>
<table class="table">
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let stud of students">
        <th scope="row">{{stud.id}}</th>
        <td>{{stud.firstname}}</td>
        <td>{{stud.lastname}}</td>
        <td>{{stud.email}}</td>
      </tr>
      
    </tbody>
  </table>
 
<!-- <table>
    <div *ngFor="let stud of students">
        <div>User id is {{stud.id}}</div>
        <div>User id is {{stud.firstname}}</div>

    </div>
</table> -->
<div>
    <div>
        <div>User id is {{user.id}}</div>
        <div>User Name is {{user.name}}</div>
    </div>
</div>
<div>
<a [routerLink]="['/students',1,'Rajesh']" [queryParams]="{page:1,search:'leela'}" [fragment]="'load'">Get the details of leela</a>
</div>
